.productDetailsSection {
  padding: 7rem 0;
}

.productDetails {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 7rem;
}

.productDetailsContentLeft {
  position: relative;
}

.productDetailsContentLeft img {
  width: 100%;
  border: 3px solid #A64B8C;
  border-radius: 1rem;
}

.productDetailsContentLeft  .numOfWishlist {
  position: absolute;
  top: 3rem;
  left: 3rem;
  border: 0;
  display: inline-block;
  background-color: #F5F5F5;
  padding: 1rem 2rem;
  border-radius: 10rem;
  font-size: 1.6rem;
  font-weight: 600;
  color: #B9508F;
}

.productDetailsContentLeft  .numOfWishlist i {
  margin-right: 1rem;
  font-size: 1.6rem;
  font-weight: 600;
}

.productDetailsContentRight h3 {
  margin-bottom: 2rem;
}

.productDetailsContentRight .author {
  font-size: 2.3rem;
  font-style: italic;
  color: #646464;
  font-weight: 300;
  margin-bottom: 2rem;
}

.productDetailsContentRight .price {
  color: #F21E1D;
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.productDetailsContentRight .description {
  font-size: 2rem;
  font-weight: 400;
  color: #000000;
  margin-bottom: 2rem;
}

.productDetailsContentRight .stock {
  color: #4BAA49;
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.productDetailsContentRight .outOfStock {
  color: #F21E1D;
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.productDetailsContentRight .numOfReviews {
  margin-bottom: 3rem;
}

.productDetailsContentRight .numOfReviews span {
  color: #FFBC01;
  font-size: 2rem;
  margin-right: 1rem;
}

.counterCartRead {
  display: flex;
  align-items: center;
}

.counter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #AFADAD;
  border-radius: 5px;
  margin-right: 2.5rem;
  padding: 1rem;
}

.counter span.count {
  margin: 0 1rem;
  font-weight: 700;
  font-size: 2rem
}

.counter span {
  font-size: 1.6rem;
  cursor: pointer
}

.addToCartBtn {
  display: inline-block;
  border: 0;
  padding: 1.3rem 2rem;
  font-size: 1.8rem;
  color: #FFFFFF;
  text-transform: uppercase;
  border-radius: 5px;
  font-weight: 500;
  font-family: inherit;
  margin-right: 2.5rem;
  background-image: linear-gradient(to right, #A94D8D, #DC536A);
  cursor: pointer;
}

.readOnlineBtn {
  display: inline-block;
  border: 0;
  padding: 1.1rem 2rem;
  font-size: 1.8rem;
  color: #FFFFFF;
  text-transform: uppercase;
  border-radius: 5px;
  font-weight: 500;
  font-family: inherit;
  border: 2px solid #A94D8D;
  background-color: transparent;
  color: #DA546C;
  cursor: pointer;
}