.wonderkidBooksSliderDetails {
  padding: 7rem 0;
}

.wonderkidBooksSliderTop {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  grid-gap: 5rem;
  text-align: center;
}

.wonderkidBooksSliderTopHeading {
  text-transform: capitalize;
  font-weight: 600;
}

.wonderkidBooksSliderTopBlock {
  background-color: #F21E1D;
  height: 1px;
}

.wonderkidBooksSliderName {
  text-transform: capitalize;
  color: #000000;
}

.wonderkidBooksSliderPrice {
  color: #F21E1D;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.wonderkidBooksSliderReviews i {
  font-size: 1.2rem;
  color: #FFBC01;
  margin-right: 2px;
}

.wonderkidBooksSliderDetails img {
  width: 100%;
}

.wonderkidBooksSliderDetails .wonderkidBooksSliderContent {
  padding: 0 1rem;
  margin-bottom: 5rem;
}

.wonderkidBooksSliderDetails .slick-prev:before,
.wonderkidBooksSliderDetails .slick-next:before {
  color: #40008a;
  opacity: 1;
  font-size: 2.5rem;
}

.wonderkidBooksSliderDetails .slick-prev {
  left: -5rem;
  top: 43%;
}

.wonderkidBooksSliderDetails .slick-next {
  right: -3rem;
  top: 43%;
}

