.blogBannerSection {
  background-color: #FFFFFF;
  padding: 10rem 0;
}

.blogBannerDetails {
  text-align: center;
}

.blogBannerDetails img {
  margin-bottom: 3rem;
  display: inline-block;
}

.blogBannerDetails h2 {
  color: #464646;
  margin-bottom: 3rem;
}

.blogBannerDetails a {
  color: #464646;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 300;
}
