.blogSection {
  padding: 7rem 0;
}

.blogDetails {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5rem;
}

.singleBlog img {
  width: 100%;
}

.singleBlogContent {
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  border-radius: 0 0 5px 5px;
}

.singleBlogContent h5 {
  font-weight: 600;
  margin-bottom: 2rem;
}

.singleBlogContent p {
  font-size: 1.4rem;
  margin-bottom: 2rem;
  color: #718096;
}

.blogDateAndButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blogDateAndButton p {
  margin-bottom: 0;
  font-size: 1.2rem;
}

.blogDateAndButton button {
  border: 0;
  background-color: transparent;
  color: #2D3748;
  font-weight: 600;
  font-family: inherit;
  font-size: 1.3rem;
  cursor: pointer;
}